<div class="container">
    <div class="row" style="padding-bottom: 15px">
        <div class="offset-lg-4 col-lg-4">
            <button type="button" class="btn-add-file change-files" data-toggle="modal"
                    data-target="#add-file"
                    style="width: 100%; font-size: 1.3em"
            >
                Додати файл
            </button>
        </div>
    </div>
</div>
<!--  Start ADD Modal -->
<div class="modal fade" id="add-file" tabindex="-1" role="dialog" aria-labelledby="add-file"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file-title">Вікно завантаження нового файлу на сервер</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/teacher.files.add/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <hr class="my-3">
                    <div class="form-group">
                        <label for="title2">Назва документа</label>
                        <input type="text" name="title" class="form-control" id="title2"
                               placeholder="Назва документа">
                    </div>
                    <div class="form-group">
                        <label for="inputState2">Виберіть предмет</label>
                        <select name="subject" id="inputState2" class="form-control">
                            {% for subject in subjects.all %}
                                <option value="{{ subject.id }}">{{ subject.name }} - {{ subject.group.number }}
                                    група
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr class="my-4">
                    <div class="form-group">
                        <label for="file-upload2">Завантажте файл: <a href="" id="path-file2"></a></label><br>
                        <input type="file" name="file" id="file-upload2">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button class="btn btn-success center-block" type="submit">Завантажити</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End ADD Modal -->