<h1 class="text-center text-white">Файли</h1>
<hr class="both95">

{% include 'office/teacher/add_file.html' %}
<!--------------------------------------------Start List card subjects------------------------------------------------->
<div class="popular-articles">
    <div class="mini-card-grid">
        {% for subject in subjects.all %}
            <article class="mini-card module module-article article">
                <header class="mini-article-card-header">
                    <div class="mini-article-card-title">
                        <div class="mini-article-subhead">
                            <hr class="my-2">
                        </div>
                        <h2 class="">
                            <a href="" class="article-card-header read-article">
                                Група: {{ subject.group.number }}
                            </a>
                            <br><br><br>
                            <p class="article-card-header read-article" style="transform: rotate(10deg); color: white">
                                {{ subject.name }}
                            </p>
                        </h2>
                    </div>
                    <div class="author-name-area">

                        <button type="button"
                                data-id="{{ subject.id }}"
                                class="btn btn-success print-files open-{{ subject.id }} all-files"
                                data-toggle="modal"
                                data-target="#print-files">
                            Всі файли
                        </button>

                    </div>
                </header>
            </article>
        {% endfor %}
    </div>
</div>
<!--------------------------------------------End card subjects-------------------------------------------------------->
<!--------------------------------------------Start Editing Modal ----------------------------------------------------->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file-title">Вікно редагування даних</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/teacher.files/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                    <input type="hidden" name="id" value="" id="identificator">
                    <div class="form-group">
                        <p> Курс: <span id="subject-name"></span>, Група - <span id="group-number"></span></p>
                    </div>
                    <hr class="my-3">
                    <div class="form-group">
                        <label for="file-upload">Завантажено: <a href="" id="path-file"></a></label><br>
                        <input type="file" name="file" id="file-upload">
                    </div>
                    <hr class="my-4">

                    <div class="form-group">
                        <label for="title">Назва документа</label>
                        <input type="text" name="title" class="form-control" id="title"
                               placeholder="Назва документа">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning last-modal" data-dismiss="modal">Назад</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button class="btn btn-success center-block" type="submit">Оновити дані</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--------------------------------------------End Editing Modal ------------------------------------------------------->
<!--------------------------------------------Start delet file in modal ----------------------------------------------->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="delete">Увага! Ви бажаєте видалити файл?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><kbd id="del-file"></kbd> -> [<span id="del-path">[]</span>]</p>
                <input type="hidden" id="del-id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning last-modal" data-dismiss="modal">Назад</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" id="del-action" class="btn btn-danger">Видалити</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------End delet file in modal ------------------------------------------------->
<!-------------------------------------Start print files in modal ----------------------------------------------------->
<div class="modal fade" id="print-files" tabindex="-1" role="dialog" aria-labelledby="print-files"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5 class="modal-title" id="file-title">Список предметів</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-------------------------------------End print files in modal ------------------------------------------------------->

<script type="text/javascript">
    $(document).ready(function () {
        // Urls for ajax request
        var TEACHER_DELETE_FILES = '/api/teacher.files/';
        var TEACHER_GET_FILES = '/api/teacher.get.files/';
        // Get jqury body
        var $body = $("body");

        // Open last modal with table of files
        $(".last-modal").on('click', function () {
           $("."+window.lastModal).click();
        });
        // insert data in detele modal
        $body.on('click', '.delete-files', function () {
            $("#print-files").modal('hide');
            $("#del-file").text($(this).data('title'));
            $("#del-path").html("<a href='" + $(this).data('path') + "'>" + $(this).data('path') + "</a>");
            $("#del-id").val($(this).data('id'));
        });

        // Ajax request for get table of files and write data into modal
        $body.on("click", ".print-files", function () {
            var id = $(this).data('id');
            window.lastModal = "open-"+id;
            $.ajax({
                type: 'GET',
                url: TEACHER_GET_FILES,
                data: {"id": id},
                success: function (data) {
                    $("#print-files .modal-body").html("");
                    $("#print-files .modal-body").append(data);
                }
            });
        });

        // Ajax request for deleting file from DB
        $body.on("click", "#del-action", function (e) {
            e.preventDefault();
            $("#delete").modal('hide');
            $("#print-files").modal('hide');
            $.ajax({
                type: 'GET',
                url: TEACHER_DELETE_FILES,
                data: {"id": $("#del-id").val()},
                success: function (data) {
                    var id = data.id;
                    setTimeout(function () {
                        $(".open-" + id).click();
                    }, 1000)
                }
            });
        });

        // Insert data from button `change` into modal
        $body.on('click', '.change-files', function () {
            $("#print-files").modal('hide');
            $("#title").val($(this).data('title'));
            $("#subject-name").text($(this).data('subject-name'));
            $("#group-number").text($(this).data('group-number'));
            $("#identificator").val($(this).data('id'));
            $("#path-file").attr("href", $(this).data('path'));
            $("#path-file").text($(this).data('path'));
        });

        // Parse url and get GET-params
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'), results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        // Open modal if url have id-param
        try {
            setTimeout(function () {
                $(".open-" + getParameterByName('id')).click();
                window.history.pushState({page: "another"}, "another page", "/office/");
            }, 600);
        } catch (e) {}
    });
</script>