{% extends 'office/base.html' %}
{% load static %}

{% block content %}
    <h1>Office TEacher</h1>
    <p>Login - {{ user.user.username }}</p>
    <p>Email - {{ user.user.email }}</p>
    <p>Name - {{ user.name }}</p>
    <p>Surname - {{ user.surname }}</p>
    <p>Last name - {{ user.last_name }}</p>
    <p>Type - {{ user.access_profile }}</p>
    <p>Type - {{ user.birth_date }}</p>

    <br>
    <h1>Subjects</h1>
    {% for subject in subjects.all %}
        <p>Name - {{ subject.name }}</p>
        <p>slug - {{ subject.slug }}</p>
        <p>group - {{ subject.group.number }}</p>
    {% endfor %}
    <br>
    <h1> Files</h1>
    {% for file in files %}
        <p>path - {{ file.file }}</p>
        <p>title - {{ file.title }}</p>
        <p>subject - {{ file.subject }}</p>
    {% endfor %}
{% endblock content %}