{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Реєстрація</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="{% static 'libs/jquery/jquery-3.3.1.min.js' %}"></script>
</head>
<body style="background: #384452">
{% include 'components/header.html' %}

{% block content %} {% endblock content %}

<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
