body {
    font-family: 'Avenir Next Cyr', Arial, sans-serif;
    padding-bottom: 40px;
    background: #f7f7f7;
}
.bg-item-mob {
    display: none;
}
.top-bg-wrapp {
    width: 100%;
    max-width: 100%;
    max-height: 1000px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-height: 640px;
}
.top-bg {
    width: 100%;
    max-height: 1000px;
    height: 100%;
    border-bottom: 3px solid #f7f7f7;
}
.top-bg-wrapp:before {
    content: "";
    width: 35%;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/arc-left.png) no-repeat;
    background-size: 100% 100%;
}
.top-bg-wrapp:after {
    content: "";
    width: 35%;
    height: 61px;
    position: absolute;
    right: 0%;
    bottom: 0;
    background: url(../images/arc-right.png) no-repeat;
    background-size: 100% 100%;
}
header {
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 13.8%;
    margin: 1.4% 21% 0 0px;
}
.logo img {
    width: 100%;
    display: block;
}
.header-menu {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    margin-top: 31px;
}
.phone {
    display: inline-block;
    vertical-align: middle;
    margin-top: 31px;
}
.social-block {
    display: inline-block;
    vertical-align: middle;
    margin: 21px 0 0 4.4%;
    width: 1%;
}
.header-menu ul {
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.header-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2%;
}
.header-menu-item {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}
.header-menu-item:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
}   
.phone span {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
/*Edge делает ссылкой и ничем не перебивается цвет кроме как указать принудительный цвет для "ссылки"*/
.phone span > a {
    color: #fff;
    text-decoration: none;
    cursor: default;
    pointer-events: none !important;
}

.social-block .social-block-item {
    display: block;
    height: auto;
    width: 100%;
}
.social-block img {
    display: block;
    width: 100%;
}

.top-text-block {
    font-size: 67px;
    position: relative;
    font-weight: bold;
    max-width: 1200px;
    margin: 6.7% auto 6%;
    color: #fff;
    text-transform: uppercase;
}
.case-button,
.top-button {
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #000;
    border-radius: 30px 30px 30px 0;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 5% 0 0;
}
.case-button:hover,
.top-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}
.about-us-wrap,
.case-content-wrap {
    width: 100%;
}
.about-us,
.case-content-block {
    background: #fff;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
.icons-block {
    max-width: 818px;
    width: 100%;
    margin: 0 auto 0;
    padding: 2.1% 0 0;
    font-size: 0;
}
.partners-ico-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 90px;
    margin-right: 10.3%;
}
.partners-ico-item img {
    display: block;
    width: 100%;
}
.partners-ico-item.first{
    width: 125px;
    width: 15.3%;
}
.partners-ico-item.second {
    width: 165px;
    width: 20.2%;
}
.partners-ico-item.third {
    width: 116px;
    width: 14.2%;
}
.partners-ico-item.forth {
    width: 144px;
    width: 17.7%;
    margin-right: 0;
}

.about-us .text-block {
    text-align: center;
    margin: 6.6% auto 8%;
}
.text-block-title {
   font-weight: bold;
   font-size: 26px;
   text-transform: uppercase;
   color: #000;
}
.text-block-text {
    color: #000;
    font-size: 18px;
    padding: 5% 0 0;
}
.advantages-wrap {
    font-size: 0;
    max-width: 1045px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 6% 0;
}
.advantages {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}
.number {
    display: inline-block;
    vertical-align: middle;
    font-size: 130px;
    font-weight: bold;
    background: linear-gradient(27deg, #2c7dbc 33%, #7ccdc6 66%, #a7ddd9);
    background: -ms-linear-gradient(top,  #fff,  #fff); /* для IE10+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #74abd3;
}
.advantages-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 18px;
    width: 52%;  
    background: linear-gradient(-53deg, #a7ddd9 33%, #7ccdc6 66%, #2c7dbc);
    background: -ms-linear-gradient(top,  #fff,  #fff); /* для IE10+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #74abd3;
}
.advantages.first {
    width: 38.5%;
}
.advantages.second {

}
.advantages.third {
    width: 28%;
}
.advantages.first .number {
    width: 20.2%;
    padding: 0 4% 0 0;
}
.advantages.second .number {
    width: 22.2%;
    padding: 0 4% 0 0;
}
.advantages.third .number {
    width: 56.2%;
    padding: 0px 4% 0 5%;
}
.advantages.first  .advantages-text {
    
}
.advantages.second .advantages-text {

}
.advantages.third .advantages-text {
    width: 34%;
}
.offers-planet-block {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 51%;
    background: url(../images/bg-planet.png) no-repeat;
    background-size: 100% 100%;
    margin: -2% auto 0;
}
.center-planet {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22.6%;
    padding: 22.6% 0 0;
    border-radius: 50%;
    margin: -11.3% 0 0 -11.3%;
    z-index: 3;

    background: #6f43a2;
    background: linear-gradient(141deg, #6d49a5 0%, #6f43a2 14%, #5e61b0 37%, #24bcde 82%, #25bcdd 100%);
}
.orbit,
.planet {
    position: absolute;
    left: 0;
    top: 0;
}
.orbit-wrapp.first {
    width: 100%;
    margin: 8% 0 0 3%;
    background: linear-gradient(141deg, #7b3d9f 0%, #7b3d9f 14%, #5e61b0 37%, #24bcde 82%, #25bcdd 100%);
    background: linear-gradient(99deg, #7b3d9f 0%, #7b3d9f 11%, #5e61b0 40%, #24bcde 82%, #25bcdd 100%);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0; 
    transform: skew(0deg, -8deg);
}
.orbit.first {
    padding-top: 32%;
    width: 100%;
    position: relative;
    display:inline-block;
    font-family: sans-serif;
    border-radius: 50%;
    background: inherit;
    top: 2px;
}
.orbit.first:after{
    content:'';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 3px);
    border-radius: 50%;
    background: linear-gradient(141deg, #7b3d9f 0%, #7b3d9f 14%, #5e61b0 37%, #24bcde 82%, #25bcdd 100%);
    background-size: 200%;
    animation: animateborder 5s ease infinite;
    /*animation-play-state: paused;*/
    animation-play-state: running;
}
/*если надо будет чтоб фон двигался при ховере раскоментить:*/
/*.orbit.first:hover::after{
    animation-play-state: running;
}*/
.orbit-wrapp.second {
    width: 77%;
    margin: 12% 0 0 14.9%;
    background: linear-gradient(85deg, #6b50a8 37%, #3aa7d3 71% , #3aa7d3 34%);
    background: linear-gradient(126deg, #704fa9 17%, #6266b4 40% , #3aa7d3 61%, #3aa7d3 100%);
    background: linear-gradient(102deg, #704fa9 17%, #6266b4 40% , #24bcde 73%, #25bcdd 100%);
    background: linear-gradient(102deg, #704fa9 17%, #6266b4 40% , #26b8dc 73%, #26b8dc 100%);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0; 
    transform: skew(0deg, -11deg);
}
.orbit.second {
    padding-top: 30%;
    width: 103%;
    position: relative;
    display:inline-block;
    font-family: sans-serif;
    border-radius: 50%;
    background: inherit;
    top: 2px;
}
.orbit.second:after{
    content:'';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 3px);
    border-radius: 50%;
    background: linear-gradient(141deg, #7b3d9f 0%, #6f50a9 14%, #5e61b0 37%, #39a7d3 82%, #37aad4 100%);
    background-size: 200%;
    animation: animateborder 5s ease infinite;
    /*animation-play-state: paused;*/
    animation-play-state: running;
}
.orbit-wrapp.third {
    width: 60%;
    margin: 16% 0 0 22.3%;
    background: linear-gradient(141deg, #6c58ac 0%, #4299cc 100%);
    background: linear-gradient(85deg, #704fa9 10%, #6464b1 33%, #3aa7d3 74% , #3aa7d3 34%);
    background: linear-gradient(85deg, #704fa9 10%, #6464b1 33%, #24bcde 73%, #25bcdd 100%);
    background: linear-gradient(85deg, #704fa9 10%, #6464b1 33%, #2dadd6 73%, #2dadd6 100%);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0; 
    transform: skew(0deg, -11deg);
}
.orbit.third {
    padding-top: 26%;
    width: 100%;
    position: relative;
    display:inline-block;
    font-family: sans-serif;
    border-radius: 50%;
    background: inherit;
    top: 1px;
}
.orbit.third:after{
    content:'';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 3px);
    border-radius: 50%;
    background: linear-gradient(141deg, #7b3d9f 0%, #7b3d9f 14%, #5e61b0 37%, #24bcde 82%, #25bcdd 100%);
    background-size: 200%;
    animation: animateborder 6s ease infinite;
    /*animation-play-state: paused;*/
    animation-play-state: running;
}
@keyframes animateborder {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
.planet.web-anal {
    width: 4.8%;
    padding-top: 4.8%;
    margin: 26% 0 0 13%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #29cbe5;
    z-index: 1;   
}
.planet.web-anal:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/analitics.png) no-repeat 50% center;
    background-size: 68% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.web-anal:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.contex-adv {
    width: 4.8%;
    padding-top: 4.8%;
    margin: 13% 0 0 22%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #29cbe5;
    z-index: 1;
}
.planet.contex-adv:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/context.png) no-repeat 50% center;
    background-size: 68% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.contex-adv:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.rtb {
    width: 2.9%;
    padding-top: 2.9%;
    margin: 14.8% 0 0 37%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 1px 1px 0px #29cbe5;
    z-index: 1;
}
.planet.rtb:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/RTB.png) no-repeat 50% center;
    background-size: 51% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.rtb:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.target-adv {
    width: 2.1%;
    padding-top: 2.1%;
    margin: 32.8% 0 0 32%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 1px 1px 0px #29cbe5;
    z-index: 4;
}
.planet.target-adv:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/target.png) no-repeat 50% center;
    background-size: 65% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.target-adv:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.retarg-strat {
    width: 2.1%;
    padding-top: 2.1%;
    margin: 9.8% 0 0 60%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 1px 1px 0px #29cbe5;
    z-index: 4;
}
.planet.retarg-strat:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/retarget.png) no-repeat 50% center;
    background-size: 54% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.retarg-strat:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.mob-camp {
    width: 2.9%;
    padding-top: 2.9%;
    margin: 16% 0 0 81%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 1px 1px 0px #29cbe5;
    z-index: 4;
}
.planet.mob-camp:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/mob.png) no-repeat 50% center;
    background-size: 42% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.mob-camp:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}

.planet.multi-marketing {
    width: 4.8%;
    padding-top: 4.8%;
    margin: 24.4% 0 0 67%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #29cbe5;
    z-index: 4;
}
.planet.multi-marketing:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/marketing.png) no-repeat 47% 44%;
    background-size: 61% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.multi-marketing:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet.media-placement {
    width: 2.1%;
    padding-top: 2.1%;
    margin: 37% 0 0 63.5%;
    background: #4a4294;
    border-radius: 50%;
    box-shadow: 1px 1px 0px #29cbe5;
    z-index: 4;
}
.planet.media-placement:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    width: 100%;
    background: url(../images/media.png) no-repeat 49% center;
    background-size: 69% auto;
    padding-top: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}
.planet.media-placement:hover::after {
    opacity: 1;
    transition: all 0.2s ease;
}
.planet > span {
    position: absolute;
    top: 0;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    font-size: 1.4vw;
    letter-spacing: 1px;
}
.planet.web-anal > span { 
    right: 0;   
    margin: -50% 0 0;    
    white-space: nowrap;
}
.planet.contex-adv > span {
    right: 100%;
    margin: -38% 0 0;
}
.planet.rtb > span {
    margin: -25% 0 0;
    left: -100%;
}
.planet.target-adv > span {
    margin: -184% 0 0;
    left: -259%;
}
.planet.retarg-strat > span {
    margin: -90% 0 0;
    left: -440%;
}
.planet.mob-camp > span {
    margin: 12% 0 0;
    white-space: nowrap;
    right: 121%;
}
.planet.multi-marketing > span {
    margin: -23% 0 0;
    right: 100%;
}
.planet.media-placement > span {
    margin: -193% 0 0;
    left: -340%;
}
.preference-block {
    max-width: 1200px;
    width: 100%;
    margin: -1% auto 0;
    font-size: 0;
}
.pref-item {
    display: inline-block;
    width: 31.6%;
    margin: 0 2.5% 2.5% 0;
    font-size: 18px;
    text-align: center;
    background: #fff;    
    vertical-align: top;
    padding: 3% 2.4%;
    box-sizing: border-box;
    min-height: 296px;
    transition: all 0.2s ease;
    cursor: default;
}
.pref-item:hover {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}
.pref-item:nth-child(3),
.pref-item:nth-child(6) {
    margin-right: 0;
}
.pref-item img {
    display: block;
    width: 100%;
    max-width: 62px;
    margin: 0 auto 10.4%;
}
.pref-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10.4% 0;
}
.pref-text {
    font-size: 18px;
    line-height: 1.5;
}
.clients-block-wrap {
    width: 100%;
    position: relative;
}
.bg-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 8%;
    background: url(../images/bg-item.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 30%;
    margin-top: -10.4%;
}
.clients-block {    
    /*max-width: 1200px;*/
    width: 90%;
    margin: 0 auto;
}
.clients-block-wrap {
    margin-top: 3%;
}
.clients-block .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.clients-slide {
    padding: 0 10px;

}
.clients-slide img {
    display: block;
    width: 100%;
}
.clients-slider-wrap {
    position: relative;
    /*max-width: 1200px;*/
    width: 90%;
    margin: 5.3% auto 0;
    z-index: 999;
}

.clients-slider-wrap .slick-next.slick-arrow {
    right: 0;
    margin-right: -7%;
    margin-top: -1%;
    background: url('../images/next.png') no-repeat;
    background-size: 100% auto;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    outline: 0;
    width: 3%;
    padding-top: 2%;
    text-indent: -9999px;
    font-size: 0;
    z-index: 9999;
    border: 0;
    cursor: pointer;
}
.clients-slider-wrap .slick-next.slick-arrow:hover,
.clients-slider-wrap .slick-next.slick-arrow:focus {
    opacity: 1;
}
.clients-slider-wrap .slick-prev.slick-arrow {
    display: none !important;
}
.case-block {
    max-width: 1200px;
    width: 100%;
    margin: 9.7% auto 0;
    font-size: 0;
}
.case-block .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 4% 0;
}

.case-item-wrap {
    display: inline-block;
    width: 31.6%;
    margin: 0 2.5% 2.5% 0;
    position: relative;
    cursor: default;
    text-align: center;
    vertical-align: top;
}
.case-item-wrap:last-child {
    margin-right: 0;
}
.case-item {    
    font-size: 18px;
    transition: all 0.2s ease;
    text-align: center;
    background: #fff;
    padding: 18% 19.7%;
    box-sizing: border-box;
    transform: rotateX(0deg);
    transition: all 0.2s ease;
    opacity: 1;
}
.case-item-rotate {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 21% 16.9%;
    box-sizing: border-box;
    height: 100%;
    transform: rotateX(90deg);
    transition: all 0.2s ease;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    border: 22px solid #fff;
    background: linear-gradient(141deg, #7ccdc6 0%, #6dbec4 14%, #4899bf 37%, #3888bd 82%, #2c7dbc 100%);
    cursor: pointer;
    opacity: 0;
    line-height: 0;
}
.case-item-wrap:hover .case-item {
    transform: rotateX(90deg);
    transition: all 0.2s ease;
    opacity: 0;
}
.case-item-wrap:hover .case-item-rotate {
    transform: rotateX(0deg);
    transition: all 0.2s ease;
    opacity: 1;
}
.case-item img {
    display: block;
    width: 100%;
}
.case-item-rotate .case-button {
    padding: 13.5% 0;
    margin: 0;
}
.case-item-rotate  > a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.feedback-block-wrap {
    position: relative;
    width: 100%;
    margin: -2% auto 0;
    background: url(../images/bg-feedback.png?v:1) no-repeat;
    background-size: 100% 100%;
}
.feedback-bg {
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
}
.feedback-bg img {
    display: block;
    width: 100%;
}
.feedback-block {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 14% 0 18%;
}
.feedback-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    /*width: 34.7%;
    padding-top: 22.9%;*/
    background: url(../images/bg-fb-after.png?v:1) no-repeat;
    background-size: 100% 100%;

    width: 416px;
    height: 274px;
    margin: -137px 0 0 -208px;
}
.feedback-slide {
    position: relative;
    padding-bottom: 1.2%;
    line-height: 1.5;
}
.feedback-slide .message {
    max-width: 860px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
}
.autor,
.autor-position {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: #fff;
}
.autor {
    margin-bottom: 30px;
    font-weight: bold;
}


/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 55px;
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 17px;
    height: 17px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 60px;
    line-height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    content: '';
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
    width: 17px;
    height: 17px;
    background: #fff;
    margin: -3px 0px 0 -2px;
}
.request-block .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 4% 0;
}
footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}
.rights-block {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #1b1b1b;
    width: 50%;
    font-size: 16px;
}
.logo-block {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 50%;
}
.logo-bott {
    width: 6%;
    display: inline-block;
}
.logo-bott img {
    display: block;
    width: 100%;
}
.request-block.mobile {
    display: none !important;
}
.request-block.desktop {
    display: block !important;
    margin: -3% 0 4.6% 0;
}
.request-block form {
    max-width: 1001px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;    
}
.inputs-wrap {
    display: inline-block;
    vertical-align: top;
    border-radius: 30px 0 0 0;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    cursor: pointer;    
    padding: 15px 19px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #000;
    width: 80.4%;
    box-sizing: border-box;
}
.submit-button {
    border-radius: 0 30px 30px 0;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 22px 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #000;
    width: 19%;
    border: 0;
    margin-left: 0.6%;
}
.submit-button:focus {
    outline: none;
}
.top-text-block form:hover .submit-button,
.request-block form:hover .submit-button {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}
.top-text-block form .inputs-wrap span,
.request-block form .inputs-wrap span {
    border-left: 1px solid #f1f3f4;
    padding: 11px 0;
}
.site-input {
    width: 22%;
    position: relative;
    border: 0;
    background: url(../images/lock-ico.png) no-repeat;
    padding: 7px 28px;
    padding: 7px 4.8%;
    vertical-align: middle;
    border-radius: 30px;
    background-position: 13px;
}
.site-input[required]:not(:focus):invalid,
.site-input:focus {
    outline: none;
    background-color: #f1f3f4;
}
.site-input[required] + label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.site-input[required]:not(:focus):not(:hover):valid {
    opacity: .8;
}
.site-input[required]:not(:focus):valid + label:before {
    content: "\2714";
    color: #3382be;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}
.site-input[required]:not(:focus):not(:hover):invalid {
  opacity: 1;
}
.site-input[required]:not(:focus):invalid + label:before {
    content: "\2A09";
    color: #d03838;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}

.user-name-input {
    width: 22%;
    position: relative;
    border: 0;
    padding: 7px 28px;
    padding: 7px 4.8%;
    vertical-align: middle;
    border-radius: 30px;
    background-position: 13px;
}
.user-name-input[required]:not(:focus):invalid,
.user-name-input:focus {
    outline: none;
    background-color: #f1f3f4;
}
.user-name-input[required] + label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.user-name-input[required]:not(:focus):not(:hover):valid {
    opacity: .8;
}
.user-name-input[required]:not(:focus):valid + label:before {
    content: "\2714";
    color: #3382be;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}
.user-name-input[required]:not(:focus):not(:hover):invalid {
  opacity: 1;
}
.user-name-input[required]:not(:focus):invalid + label:before {
    content: "\2A09";
    color: #d03838;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}


.phone-input {
    width: 22%;
    position: relative;
    border: 0;
    /*background: url(../images/lock-ico.png) no-repeat;*/
    padding: 7px 28px;
    padding: 7px 4.8%;
    vertical-align: middle;
    border-radius: 30px;
    background-position: 13px;
}
.phone-input[required]:not(:focus):invalid,
.phone-input:focus {
    outline: none;
    background-color: #f1f3f4;
}
.phone-input[required] + label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.phone-input[required]:not(:focus):not(:hover):valid {
    opacity: .8;
}
.phone-input[required]:not(:focus):valid + label:before {
    content: "\2714";
    color: #3382be;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}
.phone-input[required]:not(:focus):not(:hover):invalid {
  opacity: 1;
}
.phone-input[required]:not(:focus):invalid + label:before {
    content: "\2A09";
    color: #d03838;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -24px;
}
.hide-form {
    font-size: 0;
}
.hide-form.mobile {
    display: none !important;
}
.hide-form.desktop {
    display: block !important;
}
.case-button,
.top-button {
    display: inline-block;
    vertical-align: top;
}
.top-form {
    display: inline-block;
    vertical-align: top;
    max-width: 1001px;
    width: 100%;
    margin: 5% 0 0;
    position: absolute;
    left: -1000%;
    bottom: 0;
    transition: left 0.4s ease;
}
.top-form.show {
    left: 0;
    transition: left 0.4s ease;
}
.mobile-header {
    display: none !important;
}

/*CASE PAGE START*/
body.case-page footer {
    margin: 40px auto 0;
}
body.case-page .top-text-block {
    text-transform: none;
    text-align: left;
    margin: 6% auto 2%;
}
body.case-page .event-title {
    font-size: 48px;
}
body.case-page .event-description {
    font-size: 18px;
    font-weight: normal;
    margin: 4% 0;
}
body.case-page .event-date {
    font-size: 18px;
    font-weight: normal;
}
body.case-page .case-logo {
    width: 13%;
    margin: 0 auto;
    padding-top: 3%;
}
body.case-page .case-logo img {
    display: block;
    width: 100%;
}
body.case-page .case-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 2.4% 0;
    color: #1c1c1c;
}
body.case-page .case-list li {
    color: #3989be;
    line-height: 2;
    font-size: 18px;
    padding-left: 2%;
}
body.case-page .case-list span {
    color: #393939;
}
body.case-page .case-list {
    max-width: 900px;
    margin: 0 auto 82px;
    list-style-type: disc;
}
body.case-page .case-content-block {
    padding-bottom: 4.2%;
}
body.case-page .case-list.inner-list {
    margin: 0 0 2% 0;
}
body.case-page .case-text {
    line-height: 2;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
}
body.case-page .case-sub-title {
    line-height: 2;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
body.case-page .case-results-block {
    max-width: 900px;
    margin: 44px auto 88px;
    text-align: center;
    font-size: 0;
}
body.case-page .video {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 1.5%;
}
body.case-page .diagram {
    display: inline-block;
    width: 48.5%;
    vertical-align: middle;
    font-size: 14px;
}
body.case-page .diagram img {
    display: block;
    width: 100%;
}
body.case-page .case-buttons {
    position: relative;
    font-size: 0;
}
body.case-page .left-button {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 41%;
    vertical-align: top;
    text-align: left;
    padding: 20px 0 20px 5.7%;
    position: relative;
    box-sizing: border-box;
}
body.case-page .right-button {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 42%;
    vertical-align: top;
    text-align: right;
    padding: 20px 5.7% 20px 0;
    position: relative;
    box-sizing: border-box;
}
body.case-page .home-button {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 17%;
}
body.case-page .right-button a,
body.case-page .left-button a,
body.case-page .top-button {
    text-decoration: none;
    margin: 0;
    color: #393939;
}
body.case-page .left-button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 4%;
    background: url(../images/left-arrow.png) no-repeat;
    background-size: 100% auto;
    padding-top: 3%;
    margin: -1.3% 0 0 6%;
}
body.case-page .right-button:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 4%;
    background: url(../images/right-arrow.png) no-repeat;
    background-size: 100% auto;
    padding-top: 3%;
    margin: -1.3% 6% 0 0;
}
body.case-page .left-button:hover,
body.case-page .right-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
body.case-page .creative-examples-wrap {
    font-size: 0;
    max-width: 900px;
    margin: 0 auto 88px;
    width: 100%;
}
body.case-page .creative-examples img {
    display: block;
    width: 100%;
}
body.case-page .creative-examples {
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
}
body.case-page .creative-examples::nth-child(3) {
    margin-right: 0;
}
body.case-page .creative-examples.forth,
body.case-page .creative-examples.fifth {
    width: 48%;
    margin-right: 3%;
    margin-top: 3%;
}
body.case-page .creative-examples.fifth {
    width: 48%;
    margin-right: 0;
    margin-top: 3%;
}
/*CASE PAGE END*/









@media screen and (min-width: 2000px) {
    .top-text-block {
        margin: 4.7% auto 3%;
    }
}
@media screen and (min-width: 3000px) {
    .top-text-block {
        margin: 2.7% auto 2%;
    }
}
@media screen and (max-width: 1310px) {
    .clients-slider-wrap .slick-next.slick-arrow {
        /*display: none !important;*/
    }
}
@media screen and (max-width: 1201px) {
    body {
        max-width: 1000px;
        margin: 0 auto;
    }
    .top-bg-wrapp {
        max-height: 640px;
    }
    .logo {
        margin: 1.4% 12% 0 0%;
    }
    .header-menu {
        width: 51%;
    }
    .social-block {
        margin: 21px 0 0 3.4%;
    }
    .top-text-block {
        font-size: 58px;
        font-size: 5vw;
    }
    .rights-block,
    .logo-block {
        padding: 0 6%;
        box-sizing: border-box;
    }
    .case-block,
    .clients-block-wrap,
    .preference-block {
        padding: 0 6%;
        box-sizing: border-box;
    }
    .autor, .autor-position {
        margin-right: 6%;
    }
    .feedback-slide {
        padding: 0 1% 1.2%;
        box-sizing: border-box;
    }
    .icons-block {
        padding: 2.1% 6% 0;
        box-sizing: border-box;
    }
    .top-text-block form .inputs-wrap span, .request-block form .inputs-wrap span {
        display: none;
    }
    .inputs-wrap {
        padding: 15px 1.8% 15px 3.8%;
    }
    .site-input {
        width: 23%;
    }
    .user-name-input {
        width: 22%;
    }
    .phone-input {
        width: 22%;
    }
    .top-form.show {
        padding: 0 6% 0 0;
        box-sizing: border-box;
    }
    .request-block {
        padding: 0 6%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1005px) {
    .top-text-block {
        padding: 0 6%;
    }
    .top-form.show {
        padding: 0 6%;
    }
    .logo {
        margin: 1.4% 4% 0 6%;
    }
    .advantages-wrap {
        padding: 0 0 6%;
        box-sizing: border-box;
    }
    .advantages-text {
        width: 69%;
    }
    .number {
        font-size: 100px;
        font-size: 11vw;
    }
    .advantages.first {
        width: 33.5%;
    }
    .advantages.second {
        width: 35%;
    }
    .advantages.third {
        width: 30%;
    }
    .advantages.first .number {
        padding: 0 10% 0 0;
    }
    .advantages.third .number {
        width: 54.2%;
        padding: 0px 4% 0 0%;
    }
    .advantages.third .advantages-text {
        width: 41%;
    }
    .header-menu-item {
        font-size: 1.6vw;
    }
    .phone span {
        font-size: 1.6vw;
    }
    .top-bg-wrapp:before,
    .top-bg-wrapp:after {
        display: none;
    }
    .case-item-rotate .top-button {
        font-size: 1.2vw;
    }
    body.case-page .case-content-block {
        padding: 0 6% 4.2%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 750px) {
    .desktop-header {
        display: none !important;
    }
    .mobile-header {
        display: block !important;
    }
    .mobile-phone {
        width: 9.4%;
        background: url(../images/mob-phone.png) no-repeat;
        background-size: 100% auto;
        padding-top: 9%;
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.3% 4.7%;
    }
    .mobile-menu {
        display: none;
    }
    .logo {
        width: 44%;
        margin: 3.5% auto 0;
        display: block;
    }
    .burger-menu {
        width: 11%;
        padding-top: 11%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 4.7%;
        border-radius: 50% 50% 50% 0;
        border: 1px solid #fff;
        z-index: 999;
    }
    .burger-inner {
        background-color: #fff;
        height: 1px;
        left: 20%;
        position: absolute;
        top: 50%;
        width: 60%;
        -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
    .burger-inner:before {
        content: '';
        height: 1px;
        width: 70%;
        background-color: #fff;
        bottom: 8px;
        left: 14%;
        position: absolute;
        -webkit-transition: top .4s ease .12s,opacity .4s ease;
        transition: top .4s ease .12s,opacity .4s ease;
    }
    .burger-inner:after {
        content: '';
        height: 1px;
        width: 70%;
        background-color: #fff;
        top: 8px;
        left: 14%;
        position: absolute;
        -webkit-transition: bottom .4s ease .12s,-webkit-transform .4s cubic-bezier(.55,.055,.675,.19);
        transition: bottom .4s ease .12s,-webkit-transform .4s cubic-bezier(.55,.055,.675,.19);
        transition: bottom .4s ease .12s,transform .4s cubic-bezier(.55,.055,.675,.19);
        transition: bottom .4s ease .12s,transform .4s cubic-bezier(.55,.055,.675,.19),-webkit-transform .4s cubic-bezier(.55,.055,.675,.19);
    }
    .menu_gamburger_opened .burger-inner {
        -webkit-transition-delay: .12s;
        transition-delay: .12s;
        -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu_gamburger_opened .burger-inner:before {
        -webkit-transition: top .1s ease,opacity .1s ease .1s;
        transition: top .1s ease,opacity .1s ease .1s;
        opacity: 0;
    }
    .menu_gamburger_opened .burger-inner:after {
        top: 0;
        width: 100%;
        left: 0;
        -webkit-transition: bottom .4s ease,-webkit-transform .4s cubic-bezier(.215,.61,.355,1) .12s;
        transition: bottom .4s ease,-webkit-transform .4s cubic-bezier(.215,.61,.355,1) .12s;
        transition: bottom .4s ease,transform .4s cubic-bezier(.215,.61,.355,1) .12s;
        transition: bottom .4s ease,transform .4s cubic-bezier(.215,.61,.355,1) .12s,-webkit-transform .4s cubic-bezier(.215,.61,.355,1) .12s;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .menu_gamburger_opened .mobile-menu {
        display: block;
        width: 100%;
        background: linear-gradient(43deg, #7ccdc6 29%, #6dbec4 39%, #4899bf 71%, #3888bd 82%, #2c7dbc 100%);
        z-index: 99;
        position: fixed;
        min-height: 100vh;
        max-height: 100vh;
        height: 100%;
    }
    body.menu_gamburger_opened {
        overflow: hidden!important;
        min-height: 100vh;
        max-height: 100vh;
        height: 100%;
    }
    .menu_gamburger_opened .logo {
        margin: 0 auto;
        z-index: 999;
        position: relative;
        padding-top: 3.5%;
    }
    .menu_gamburger_opened .burger-menu {
        margin: 3.5% 4.7%;
    }
    .menu_gamburger_opened .mobile-phone {
        margin: 4.8% 4.7%;
        z-index: 99; 
    }
    body.fixed .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        background: linear-gradient(140deg, #7f399d 0%, #73c4c4 53%, #3081bb 98%, #3081bb 100%);
        width: 100%;
        padding-bottom: 3%;
    }
    body.fixed .burger-menu {
        margin: 3.5% 4.7%;
    }
    body.fixed .mobile-phone {
        margin: 4.8% 4.7%;
        z-index: 99;
    }

    .case-block, .clients-block-wrap, .preference-block {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .pref-item {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-top: 8.6%;
        margin-bottom: 7.2%;
        min-height: 180px;
    }
    .submit-button {
        display: block;
        width: 43.7%;
        padding: 3.8% 0;
        margin: 5px auto 0;
        border-radius: 15px 15px 15px 0;
        font-size: 12px;
        font-size: 3.8vw;
        background: linear-gradient(141deg, #7ccdc6 0%, #6dbec4 14%, #4899bf 37%, #3888bd 82%, #2c7dbc 100%);
        cursor: pointer;
        color: #fff;
    }    
    .advantages-wrap {
        display: block;
        width: 100%;
        padding: 0;
    }
    .advantages {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu_gamburger_opened .header-menu {
        display: block;
        width: 100%;
        margin-top: 34%;
        line-height: 2;
    }
    .menu_gamburger_opened .header-menu ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 6%;
    }
    .menu_gamburger_opened  .header-menu-item {
        font-size: 20px;
        font-size: 6.2vw;
        font-weight: bold;
        min-width: 50%;        
        width: 50%;
        margin: 0 auto;
        border-radius: 30px;
        display: block;
        border: 1px solid transparent;
    }
    .menu_gamburger_opened .header-menu-item:hover {
        text-decoration: none;
        border: 1px solid rgba(255,255,255,0.5);
    }
    .menu_gamburger_opened .social-block {
        display: block;
        width: 7.3%;
        margin: 11% auto;
    }
    .top-text-block {
        font-size: 28px;
        font-size: 8.8vw;
        margin: 15.8% 0 14.2%;
    }
    .top-button {
        width: 42%;
        display: block;
        max-width: 100%;
        padding: 3% 0;
        font-size: 12px;
        font-size: 3.8vw;
        margin-top: 8%;
    }
    .about-us-wrap,
    .case-content-wrap {
        padding: 0 4.7%;
        box-sizing: border-box;
    }
    .partners-ico-item.first {
        width: 34.5%;
        margin-right: 19.3%;
        margin-bottom: 8%;
    }
    .partners-ico-item.second {
        width: 46%;
        margin-right: 0;
    }
    .partners-ico-item.third {
        width: 32.3%;   
        margin-right: 24.3%;     
    }    
    .partners-ico-item.forth {
        width: 39.8%;
        margin-right: 0;
    }
    .icons-block {
        padding: 5.2% 10.5% 0 11.4%;
    }
    .about-us .text-block {
        margin: 13.8% auto 11.4%;
    }
    .text-block-title {
        font-size: 24px;
        font-size: 7.5vw;
    }
    .text-block-text {
        font-size: 14px;
        font-size: 4.4vw;
        padding: 6.3% 4% 0;
        box-sizing: border-box;
    }
    .top-bg-wrapp:before {
        content: "";
        width: 6%;
        height: 8px;
        position: absolute;
        left: 0;
        bottom: -2px;
        background: url(../images/arc-left.png) no-repeat;
        background-size: 100% 100%;
        display: block;
    }
    .top-bg-wrapp:after {
        content: "";
        width: 15%;
        height: 30px;
        position: absolute;
        right: 0%;
        bottom: -3px;
        background: url(../images/arc-right.png) no-repeat;
        background-size: 100% 100%;
        display: block;
    }
    .top-bg-wrapp {
        max-height: 640px;
        min-height: 67.3%;
        height: 55%;
    }
    .advantages.first {
        width: 100%;
    }
    .advantages.second {
        width: 100%;
    }
    .advantages.third {
        width: 100%;
    }
    .number {
        font-size: 90px;
        font-size: 28.3vw;
    }
    .advantages.first .number {
        padding: 0 4% 0 14.2%;
    }
    .advantages.second .number {
        padding: 0 4% 0 14.2%;
    }
    .advantages.third .number {
        width: 38.2%;
        padding: 0 4% 0 14.2%;
    }
    .advantages-text {
        font-size: 14px;
        font-size: 4.4vw;
    }
    .preference-block {
        padding: 0 11.7%;
    }
    .pref-item img {
        margin: 0 auto 2.1%;
    }
    .pref-title {
        font-size: 15px;
        font-size: 4.8vw;
        margin: 0 0 2.9% 0;
    }
    .pref-text {
        font-size: 12px;
        font-size: 3.8vw;
        padding: 0 10.2% 5%;
    }
    .clients-block .title {
        font-size: 24px;
        font-size: 7.5vw;
    }
    .bg-item {
        display: none;
    }
    .bg-item-mob {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 15.7%;
        padding-top: 49%;
        background: url(../images/bg-item-mob.png?v:1) no-repeat;
        background-size: 100% 100%;
        margin-top: -8.4%;
        display: block;
    }
    .clients-slider-wrap .slick-next.slick-arrow {
        display: inline-block !important;
        /*margin: -2% -11% 0 2%;*/
        width: 7.2%;
        padding-top: 5%;
    }
    .clients-block {
        width: 100%;
    }
    .clients-slider-wrap {
        /*padding: 0 11% 0 0%;
        box-sizing: border-box;*/
        margin: 9.5% 0 0 0;
        width: 94%;
    }
    .case-block .title {
        font-size: 24px;
        font-size: 7.5vw;
    }
    .case-block {
        margin: 18% auto 0;
        padding: 0 4.7%;
    }
    .case-item-wrap {
        width: 100%;
        display: block;
        margin: 0 2.5% 5.2% 0;
    }
    .case-item-rotate .top-button {
        width: 100%;
        font-size: 13px;
        font-size: 4vw;
    }
    .feedback-block-wrap {
        background: url(../images/bg-feedback-mob.png?v:1) no-repeat;
        background-size: 100% 100%;
    }
    .feedback-block:before {
        width: 219px;
        height: 144px;
        margin: -72px 0 0 -109px;
    }
    .feedback-slide .message {
        font-size: 13px;
        font-size: 4vw;
    }
    .autor {
        font-size: 14px;
        font-size: 4.4vw;
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .autor-position {
        font-size: 13px;
        font-size: 4vw;
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
    .feedback-slide {
        padding: 0 1% 2.6%;
    }
    .feedback-block {
        padding: 21% 0 18%;
    }
    .request-block.mobile {
        display: block !important;
    }
    .request-block.desktop {
        display: none !important;
    }
    .inputs-wrap {
        width: 100%;
        border-radius: 30px 30px 0 0;
        /*padding: 2px 1.8% 2px 3.8%;*/
    }
    .inputs-wrap.bott {
        border-radius: 0px;
    }
    .inputs-wrap {
        width: 100%;
        border-radius: 15px 15px 0 0;
        margin: 0 0 7px 0;
        padding: 7px 1.8% 7px 3.8%;      
    }
    .site-input {
        width: 88%;
        padding: 1.5% 5.8% 1.5% 4.8%;
        background-position: 5px;
    }
    .phone-input {
        width: 38%;
        padding: 1.5% 5.8% 1.5% 3.8%;
    }
    .user-name-input {
        width: 38%;
        padding: 1.5% 5.8% 1.5% 3.8%;
    }
    .phone-input[required]:not(:focus):invalid + label:before,
    .user-name-input[required]:not(:focus):invalid + label:before,
    .site-input[required]:not(:focus):invalid + label:before {
        margin-left: -18px;
    }
    .phone-input[required]:not(:focus):valid + label:before,
    .user-name-input[required]:not(:focus):valid + label:before,
    .site-input[required]:not(:focus):valid + label:before {
        margin-left: -14px;
    }
    .inputs-wrap {
        font-size: 12px;
        font-size: 3.8vw;
    }
    .request-block .title {
        font-size: 24px;
        font-size: 7.5vw;
        margin: 6% 0 8% 0;
    }
    .hide-form.mobile {
        display: block !important;
    }
    .hide-form.desktop {
        display: none !important;
    }
    .top-form.show .submit-button {
        margin: 5px 0 0;
    }
    .rights-block {
        font-size: 10px;
        font-size: 3.2vw;
        margin-top: 14.2%;
    }
    .logo-bott {
        width: 23.1%;
    }
    .logo-block {
        margin-top: 11.2%;        
    }
    .top-form.show {
        position: relative;
        padding: 0;
        margin: -12% 0 0;
        transition: left 0.4s ease, margin 0.4s ease;
    }
    .offers-planet-block {
        padding-top: 182%;
        background: url(../images/bg-planet-mob.png?v:1) no-repeat;
        background-size: 100% auto;
    }

    .center-planet {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 47.6%;
        padding: 47.6% 0 0;
        border-radius: 50%;
        margin: -23.8% 0 0 -23.8%;
    }
    .orbit-wrapp.first {
        width: 172%;
        margin: 49% 0 0 -40%;
        transform: skew(0deg, -29deg);
    }
    .orbit.first {
        padding-top: 53%;
    }
    .orbit-wrapp.second {
        transform: skew(0deg, -28deg);
        margin: 57% 0 0 -13.1%;
        width: 125%;
    }
    .orbit.second {
        padding-top: 55%;
        width: 100%;
    }
    .orbit-wrapp.third {
        margin: 67% 0 0 10.4%;
        transform: skew(0deg, -26deg);
        width: 77%;
    }
    .orbit.third {
        padding-top: 63%;
    }
    .planet.retarg-strat {
        width: 6.1%;
        padding-top: 6.1%;
        margin: 26.8% 0 0 92%;
    }
    .planet.contex-adv {
        width: 12.8%;
        padding-top: 12.8%;
        margin: 47% 0 0 32%;
    }
    .planet.rtb {
        width: 8.9%;
        padding-top: 8.9%;
        margin: 56.8% 0 0 67%;
    }
    .planet.web-anal {
        width: 14.1%;
        padding-top: 14.1%;
        margin: 71% 0 0 27%;
        z-index: 3;
    }
    .planet.multi-marketing {
        width: 12.2%;
        padding-top: 12.2%;
        margin: 88.4% 0 0 85%;
    }
    .planet.target-adv {
        width: 6.3%;
        padding-top: 6.3%;
        margin: 113.8% 0 0 9%;
    }
    .planet.mob-camp {
        width: 8.5%;
        padding-top: 8.5%;
        margin: 110% 0 0 81%;
    }
    .planet.media-placement {
        width: 6.1%;
        padding-top: 6.1%;
        margin: 141% 0 0 35.5%;
    }
    .planet > span {
        font-size: 15px;
        font-size: 4.7vw;
    }
    .planet.target-adv > span {
        margin: -184% 0 0;
        left: -112%;
    }
    .planet.contex-adv > span {
        right: 54%;
        margin: -55% 0 0;
    }
    .planet.retarg-strat > span {
        margin: -117% 0 0;
        left: -595%;
    }
    .planet.multi-marketing > span {
        margin: -55% 0 0;
        right: -3%;
    }
    .top-form-show .top-text-block {
        margin: 15.8% 0 4.2%;
    }
    .top-form-show .top-button {
        opacity: 0;
    }
    .advantages-text {
        width: 52%;
    }
    .planet.web-anal:after,
    .planet.contex-adv:after,
    .planet.rtb:after,
    .planet.target-adv:after,
    .planet.retarg-strat:after,
    .planet.mob-camp:after,
    .planet.multi-marketing:after,
    .planet.media-placement:after {
        opacity: 1;
    }
    /*CASE PAGE START*/
    body.case-page .event-title {
        font-size: 28px;
        font-size: 9vw;
    }
    body.case-page .event-description {
        font-size: 14px;
        font-size: 4.5vw;
        line-height: 1.5;
        margin: 4% 0 9%;
    }
    body.case-page .event-date {
        font-size: 14px;
        font-size: 4.5vw;
        line-height: 1.5;
        margin: 4% 0 9%;
    }
    body.case-page .top-text-block {
        margin: 16% auto 9%;
    }
    body.case-page .top-bg-wrapp {
        height: 100%;
    }
    body.case-page .case-logo {
        width: 40%;
        padding-top: 8%;
        padding-bottom: 9.6%;
    }
    body.case-page .case-title {
        font-size: 18px;
        font-size: 5.6vw;
        margin: 2.4% 0 5%;
    }
    body.case-page .case-list li,
    body.case-page .case-text,
    body.case-page .case-sub-title {
        font-size: 14px;
        font-size: 4.5vw;
        line-height: 1.5;
    }
    body.case-page .case-list {
        padding-left: 8%;
        margin: 0 auto 16%;
    }
    body.case-page .video {
        display: block;
        width: 100%;
    }
    body.case-page .diagram {
        width: 100%;
        display: block;
        margin: 8% 0 0;
    }
    body.case-page .case-results-block {
        padding: 0 5.2%;
        margin: 8% auto 10%;
    }
    body.case-page .top-button {
        margin: 0 auto;
    }
    body.case-page .home-button {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
    }
    body.case-page .left-button {
        font-size: 12px;
        font-size: 3.8vw;
        font-weight: normal;
        padding: 0 0 0 7%;
        width: 50%;
        margin: 20% 0 0px;
    }
    body.case-page .right-button {
        font-size: 12px;
        font-size: 3.8vw;
        font-weight: normal;
        padding: 0 7% 0 0;
        width: 50%;
        margin: 20% 0 0px;
    }
    body.case-page .left-button:before {
        padding-top: 8%;
        margin: -3.3% 0 0 -5%;
        width: 12%;
    }
    body.case-page .right-button:after {
        padding-top: 8%;
        margin: -3.3% -5% 0 0%;
        width: 12%;
    }
    body.case-page .case-content-block {
        padding: 0 6% 7.2%;
    }
    body.case-page footer {
        margin: 0;
    }
    body.case-page .rights-block {
        margin-top: 7.2%;
    }
    body.case-page .logo-block {
        margin-top: 6.2%;
    }
    body.case-page {
        padding-bottom: 6.3%;
    }
    body.case-page .creative-examples {
        display: block;
        width: 80%;
        margin: 0 auto 8%;
    }
    body.case-page .creative-examples.forth, 
    body.case-page .creative-examples.fifth {
       display: block;
       width: 100%;
       margin: 0 auto 8%; 
    }
    body.case-page .creative-examples-wrap {
        margin: 0 auto 16%;
    }
    /*CASE PAGE END*/
}
@media screen and (max-width: 750px) and (orientation: landscape) {
    .top-bg-wrapp {
        min-height: 675px;
    }
}
/*CASE PAGE START*/
/*CASE PAGE END*/