<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/meterialize/css/materialize.min.css"
          media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/components/main.css">
    <link rel="stylesheet" href="/static/meterialize/css/subject.css">
</head>
<body>
{% include 'components/left-menu.html' %}
{% include 'components/clock.html' %}

<div class="container">
    <div class="row">
        <div class="col offset-s3 s9 offset-m2 m9 l12 xl12">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/libs/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/meterialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/meterialize/js/subject.js"></script>
</body>
</html>