
.menu-head{
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.menu-head:hover{
    padding: 3px 10px;
    transition: 100ms;
    border-bottom: 2px solid grey;
}
