<header class="left-menu">
    <div class="menu-item" onclick="location.href = '/'">ЧПК</div>
    <div class="menu-item tooltipped" data-position="right" data-tooltip="Офіс" onclick="location.href = '/office/'">
        <i class="small material-icons">description</i>
    </div>
    <div class="menu-item tooltipped" data-position="right" data-tooltip="Предмети"
         onclick="location.href = '/subject/'">
        <i class="small material-icons">collections_bookmark</i>
    </div>
    <div class="menu-item tooltipped" data-position="right" data-tooltip="Викладачі"
         onclick="location.href = '/teacher/'">
        <i class="small material-icons">people</i>
    </div>
    <div class="menu-item tooltipped" data-position="right" data-tooltip="Вихід"
         onclick="location.href = '/auth/logout/'">
        <i class="small material-icons">exit_to_app</i>
    </div>
</header>