{% extends 'subject/base.html' %}
{% block content %}
    <div class="col s12">
        <h3 class="text-white center-align">
            Список викладачів
        </h3>
        <hr>
    </div>
    <hr>
    <div class="row">
        {% for teacher in teachers %}
            <div class="col s4 offset-s1 card" style="min-height: 100px">
                <div class="card-body">
                    <h6 class="card-title"><a href="{{ teacher.get_absolute_url }}">
                        {{ teacher.profile.surname }} {{ teacher.profile.name }} {{ teacher.profile.last_name }}
                    </a>
                    </h6>
                    <a class='dropdown-trigger btn col s12' href='#' data-target='dropdown{{ teacher.id }}'>Предмети</a>
                    <ul id='dropdown{{ teacher.id }}' class='dropdown-content'>
                        {% for subject in teacher.subjects.all %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ subject.get_absolute_url }}">Група {{ subject.group.number }}
                                    : {{ subject.name }}</a></li>
                            <li class="divider" tabindex="-1"></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock content %}