{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Реєстрація</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth/main.css' %}">

  <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="{% static 'libs/jquery/jquery-3.3.1.min.js' %}"></script>
</head>
<body style="background: #384452">
{% include 'components/header.html' %}

{% block content %} {% endblock content %}

<script src="{% static 'libs/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
